
tickTime = {{ tick_time }}
dataDir = {{ zookeeper_data_dir }}
clientPort = {{ client_port }}
initLimit = {{ init_limit }}
syncLimit = {{ sync_limit }}
{% for host in groups[target] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_'+ iface ]['ipv4']['address'] }}:{{ ports }}
{% endfor %}
